@import "colors";

/* Layout */
$mobile: 375px;
$desktop: 1440px;


/* Input Range */
$thumbSize: 36px;
$trackSize: 8px;
$thumbBg: $strong-cyan;
$trackBg: $light-grayish-blue;
$progressBg: $soft-cyan;