.hero {
    position: relative;
    height: 60vh;
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    padding: 15vw 6vw 0 6vw;
    text-align: center;

    &__pattern-circles {
        position: absolute;
        z-index: 1;
        top: 7.2vw;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: 56vw;
        width: 40vw;
    }

    &__text {
        z-index: 5;
        position: relative;

        h1 {
            font-size: 5.2vw;
            margin-bottom: 3vw;
            color: $dark-desaturated-blue;
            font-weight: 800;
        }

        p {
            font-size: 3.5vw;
            width: 57%;
            margin: 0 auto;
            color: $grayish-blue;
        }
    }
}

@media screen and (min-width: $desktop-up) {
    .hero {
        position: relative;
        height: 50vh;
        z-index: 0;
        padding: 7vw 0 0 0;
        text-align: center;

        &__pattern-circles {
            z-index: 1;
            top: 5vw;
            left: 50%;
            transform: translateX(-50%);
            width: 10em;
        }

        &__text {
            z-index: 5;
            position: relative;

            h1 {
                font-size: 2.2vw;
                margin-bottom: .5vw;
            }

            p {
                font-size: 1.2vw;
                width: unset;
                margin: 0 auto;
            }
        }
    }
}